@font-face{font-family:"History Serif";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-serif-94a72b0e93a6.woff2") format("woff2");}
@font-face{font-family:"History Sans";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-sans-f3993045570d.woff2") format("woff2");}
