@font-face{font-family:"History Serif";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-serif-3d36246659d9.woff2") format("woff2");}
@font-face{font-family:"History Sans";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-sans-b5696d6628d2.woff2") format("woff2");}
