@font-face{font-family:"History Serif";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-serif-2e5ed8ce8856.woff2") format("woff2");}
@font-face{font-family:"History Sans";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-sans-2330f1bbbfbd.woff2") format("woff2");}
