@font-face{font-family:"History Serif";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-serif-9149e302007f.woff2") format("woff2");}
@font-face{font-family:"History Sans";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-sans-747e7e48905f.woff2") format("woff2");}
