@font-face{font-family:"History Serif";font-style:normal;font-weight:100 900;font-display:swap;src:url("history-serif-725cb254d686.woff2") format("woff2");}
@font-face{font-family:"History Sans";font-style:normal;font-weight:100 900;font-display:swap;src:url("../history-sans.woff2") format("woff2");}
